body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 0 20px 0;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    /* padding: 20px; */
}

main div {
    margin-bottom: 40px;
    justify-content: center;
    margin: auto;
  width: 50%;
  text-align: center;
}

#home{
    height: 300px;
    background-color: darkblue;
    width: 100%;
    text-decoration-color: #fff;
}
#home h2{
    padding-top: 100px;
}

main h2 {
    color: #a668ed;
}
#home p{
    color: #f0f7ff;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    position: relative; /* or static, to be in the normal document flow */
    width: 100%;
    bottom: 0;
}
.container{
    display: inline-block;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 3s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .gobut{
    padding: 10px 20px; 
    background-color: #007BFF;
     color: white; border: none; 
     border-radius: 5px; 
     cursor: pointer;
  }
  button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }
  #contacts{
    padding-top: 30px;
  }
  

